.unidades .masInfo, main form .submit {
  border: 2px solid #595858;
  border-radius: 20px;
  padding: 10px;
  background-color: #dcd8d8;
  color: grey;
  font-size: small;
  display: flex;
  text-align: center;
  align-items: center; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }

/*estilos de navbar*/
body nav div div ul {
  display: flex;
  justify-content: flex-end;
  margin-left: 100px;
  padding: 25px;
  justify-content: space-evenly; }

body {
  background-color: rgba(223, 218, 211, 0.2); }

header nav div li {
  margin-right: 25px; }

header nav div {
  margin-right: 12px; }

.fondo-nav {
  width: 100%;
  background: linear-gradient(to bottom, #9a8d82 0%, rgba(241, 236, 229, 0.2) 80%); }
  .fondo-nav .navbar {
    width: 100%; }

/*estilos del logo*/
nav div a {
  text-decoration: none;
  color: #514a44;
  box-shadow: none; }

nav div a :hover {
  color: #878484; }

nav div div li :hover {
  text-decoration-line: underline;
  transition: all 0.5s ease; }

/*estilos de main index*/
main {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: grey; }
  main .mainP {
    margin: 20px; }
  main .imagen1 .descripcionVistafrente {
    margin: 20px; }

.descripcionVistafrente {
  font-size: 25px;
  font-family: bembo-italic;
  color: #9a8d82;
  text-align: center;
  margin-bottom: 35px; }

/* estilos de fuentes*/
.mainH1 h1 {
  font-size: 1.5rem;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: 100;
  color: #9a8d82;
  white-space: nowrap;
  letter-spacing: 3px;
  padding-bottom: 25px;
  white-space: nowrap; }

@media (max-width: 668px) {
  .mainH1 h1 {
    font-size: 1.2rem; } }

.mainH1 .mainP {
  font-size: 25px;
  font-family: bembo-italic;
  color: #9a8d82;
  text-align: center;
  margin-bottom: 35px; }

@media screen and (max-width: 668px) {
  .mainH1 .mainP {
    font-family: bembo-italic;
    font-size: 20px;
    margin-bottom: 40px; }
  .mainH1 .descripcionVistafrente {
    font-family: bembo-italic;
    font-size: 20px;
    margin-bottom: 40px; } }

main div img {
  width: 100%; }

h1, h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.1; }

.descripcionVistafrente {
  margin: 50px;
  font-size: 25px;
  font-family: bembo-italic;
  color: #9a8d82;
  text-align: center; }

/*pantalla mas chicas*/
@media (max-width: 390px) {
  .mainH1 h1 {
    font-size: 15px; }
  .mainH1 .mainP {
    font-family: bembo-italic;
    font-size: 15px;
    margin-bottom: 40px; }
  .mainH1 .descripcionVistafrente {
    font-family: bembo-italic;
    font-size: 15px;
    margin-bottom: 40px; } }

/*estilo del menu hambuerguesa*/
.navbar-toggler {
  margin-right: 10px; }

/*estilos de ubicacion*/
.textoUbicacion {
  font-family: museo-sans;
  font-size: 22px;
  color: #808080;
  margin-bottom: 30px;
  text-align: center; }

.mainH1 .mapa img {
  margin: 20px;
  width: 60%; }

.mainH1 .textoUbicacion {
  background-color: #f3f2f2;
  justify-content: center;
  margin: 50px;
  margin-top: 25px;
  padding: 25px; }

.mainH1 .mapa {
  background-color: #f3f2f2;
  justify-content: center;
  margin: 50px;
  margin-top: 25px;
  padding: 25px;
  padding: 1px; }

@media (max-width: 668px) {
  .mainH1 p {
    font-size: 10px; }
  .mainH1 .textoUbicacion {
    font-family: bembo-italic;
    background-color: #f3f2f2;
    margin: 0;
    padding: 5px;
    color: #9a8d82; } }

/*estilos de unidades*/
.unidades .descripcionU {
  margin: 20px; }

.unidades .masinfo {
  margin: 40px; }

body .unidadesH1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: 100;
  color: #9a8d82;
  white-space: nowrap;
  letter-spacing: 3px;
  padding-bottom: 25px;
  white-space: nowrap; }

/*estilos de mas info unidades mapas*/
.unidades .masInfo .standar {
  color: grey; }

/*grid  seccion unidades*/
.unidades {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "mainP mainP" "unidad1 unidad2" "unidad3 unidad4" "masInfo masInfo";
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 30px;
  margin: 25px; }

.mainP {
  grid-area: mainP;
  font-size: 25px;
  font-family: bembo-italic;
  color: #9a8d82;
  text-align: center;
  margin-bottom: 35px;
  margin: 20px; }

.unidad1 {
  grid-area: unidad1; }

.unidad2 {
  grid-area: unidad2; }

.unidad3 {
  grid-area: unidad3; }

.unidad4 {
  grid-area: unidad4; }

.masInfo {
  grid-area: masInfo;
  text-align: center;
  font-size: 1.2rem; }

/* media queris pantalla chica*/
@media screen and (max-width: 500px) {
  .descripcionU {
    display: none; }
  .unidades {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "descripcionU " "unidad1" "unidad2" "unidad3" "unidad4" "masInfo";
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin: 25px; }
  .descripcionU {
    grid-area: descripcionU; }
  .unidad1 {
    grid-area: unidad1; }
  .unidad2 {
    grid-area: unidad2; }
  .unidad3 {
    grid-area: unidad3; }
  .unidad4 {
    grid-area: unidad4; }
  .masInfo {
    grid-area: masInfo;
    text-align: center;
    font-size: 1.2rem; } }

/* media queris pantalla mediana*/
@media screen and (max-width: 778px) {
  .descripcionU {
    display: none; }
  .unidades {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "descripcionU " "unidad1" "unidad2" "unidad3" "unidad4" "masInfo";
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin: 25px; }
  .descripcionU {
    grid-area: descripcionU; }
  .unidad1 {
    grid-area: unidad1; }
  .unidad2 {
    grid-area: unidad2; }
  .unidad3 {
    grid-area: unidad3; }
  .unidad4 {
    grid-area: unidad4; }
  .masInfo {
    grid-area: masInfo;
    text-align: center;
    font-size: 1.2rem; } }

/* media queris pantalla mediana plus*/
@media screen and (max-width: 820px) {
  .descripcionU {
    display: none; }
  .unidades {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "descripcionU " "unidad1" "unidad2" "unidad3" "unidad4" "masInfo";
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin: 25px; }
  .descripcionU {
    grid-area: descripcionU; }
  .unidad1 {
    grid-area: unidad1; }
  .unidad2 {
    grid-area: unidad2; }
  .unidad3 {
    grid-area: unidad3; }
  .unidad4 {
    grid-area: unidad4; }
  .masInfo {
    grid-area: masInfo;
    text-align: center;
    font-size: 1.2rem; } }

/*boton mas info*/
/*estilos de contactanos*/
* {
  box-sizing: border-box; }

form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: 30px;
  background-color: #f3f2f2;
  margin-bottom: 95px; }

form label {
  width: 72px;
  font-weight: bold;
  display: inline-block; }

form input[type="text"],
form input[type="email"] {
  width: auto;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block; }

form input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #f3f2f2; }

div form input[type="submit"]:hover {
  cursor: pointer; }

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: block; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.txt-entrevista {
  font-family: museo-sans;
  font-size: 22px;
  color: #808080;
  margin-bottom: 30px;
  text-align: center; }

p {
  margin: 0 0 10px; }

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

@media (max-width: 768px) {
  .container form {
    width: auto; }
  .container form imput {
    width: auto; }
  .container {
    width: 40%; } }

/*estilos de quienes somos*/
.mainH1 .historiaH2 {
  margin: 30px; }

body .mainH1 {
  padding: 30px;
  padding-top: 0; }

/*estilos de h2*/
.mainH1 h2 {
  font-size: 1.5rem;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: 100;
  color: #9a8d82;
  white-space: nowrap;
  letter-spacing: 3px;
  padding-bottom: 25px;
  white-space: nowrap; }

/*estilo de footer*/
body {
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.footer {
  width: 100%;
  display: block;
  padding: 30px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  clear: both;
  text-align: center;
  background-image: linear-gradient(to top, #9a8d82 0%, rgba(241, 236, 229, 0.2) 80%);
  margin-bottom: 0;
  position: absolute;
  color: #766c63; }

.avancesimg {
  margin-bottom: 80px; }

@media screen and (max-width: 350px) {
  p.col-6 {
    display: none; }
  h1.col-12.text-center {
    font-size: 1.2rem;
    color: aqua; }
  div .row {
    background-color: aqua; } }

h1.col-12.text-center {
  font-size: 1.5rem;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: 100;
  color: #9a8d82;
  white-space: nowrap;
  letter-spacing: 3px;
  padding-bottom: 25px;
  white-space: nowrap; }

.col-6 {
  font-family: bembo-italic;
  color: #9a8d82;
  font-size: 20px; }
