%botones{
    border: 2px solid rgb(89, 88, 88);
    border-radius:20px;
    padding:10px;
    background-color: rgb(220, 216, 216);
    color: grey;
    font-size: small;
    display: flex;
    text-align: center;
    align-items: center;
}