/*estilos de quienes somos*/
.mainH1 .historiaH2{
    margin: 30px;
}
body .mainH1{
    padding: 30px;
    padding-top: 0;
}

.mainH1 h2{
    font-size: 3vw;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 100;
    color: #9a8d82;
    white-space: nowrap;
    letter-spacing: 3px;
    padding-bottom: 25px;
    white-space: nowrap;
}